.imreallyhungry {
    margin: 0.25em;
    border-bottom: 3px #737373;
    font-size: 22px;
}

.flex-wrapper {
    display: flex;
}

svg {
    width: 300px;

}

main {
    flex: 1 1 auto;
}

.hidden {
    display: none;
}

section {
    min-height: 40px;
}