html {
    font-family: "Poppins", sans-serif;
}

.imreallyhungry {
    margin: 0.25em;
    border-bottom: 3px solid #737373;
    font-size: 22px;
    display: inline-block;
    min-width: 2ch;
    min-height: 3ch;
    text-align: center;
}

#toast {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #3f3f3f;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  color: white;
}

#word-display {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-top: 2rem;    
}

.flex-wrapper {
    display: flex;
}

svg {
    width: 200px;

}

main {
    flex: 1 1 auto;
    
}

.hidden {
    display: none;
}

section {
    min-height: 40px;
}

.sexyman {
    background-image: url("viggo-normal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    inset: 0;
}